.btn-login-with-moka {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #337ab7;
  border: none;
  color: white;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button {
  padding: 20px;
}
